<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LiteWebApp{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-content">
            <nav class="navbar">
                <ul class="nav-bar nav-left">
                    <li><a href="/home" class="nav-btn">Home</a></li>
                    <li><a href="/store" class="nav-btn">Store</a></li>
                </ul>
                <ul class="nav-bar nav-right">
                    {% if current_user.is_authenticated %}
                      <li><span class="nav-btn">Hello {{ current_user.username }}!</span></li>
                      <li><a href="/profile" class="nav-btn">Profile</a></li>
                      <li><a href="/logout" class="nav-btn">Logout</a></li>
                    {% else %}
                      <li><a href="/login" class="nav-btn">Login</a></li>
                      <li><a href="/register" class="nav-btn">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <! -- Display flash messages -- >
    <div class="container mt-2">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div class="alert alert-info alert-dismissable fade show d-flex align-items-center py-2" role="alert" style="font-size: 1rem;">
                {% for message in messages %}
                    {{ message }}<br>
                {% endfor %}
                <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endif %}
        {% endwith %}
      </div>
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <p>&copy; 2025 LiteWebApp</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
